body{
    background-color:#ecf0f3;
    background: url(/free-nature-images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1,P{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: center;
}
#calculator{
    display: grid;
    grid-template-columns: repeat(4,70px);
    justify-content: center;
    box-sizing: border-box;
    box-shadow: inset 5px 5px 12px #ecf0f3, 5px 5px 12px black;
    border: none;
    border-radius: 30px;
    padding:20px ;
}
#result{
    display: grid;
    grid-column: span 4;
    padding: 25px;
    text-align: right;
    font-size: xx-large;
    border-radius: 30px;
    box-shadow:inset -5px -5px 12px #ecf0f3, 5px 5px 12px rgb(175, 177, 179);
    border: none;
    margin-bottom: 30px;
}
button{
    padding: 15px;
    border-radius: 50px;
    background-color: #ff9966;
    font-size: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px #ffffff,
                 5px 5px 10px rgb(79, 136, 146);
    cursor: pointer;
    margin: 5px;
}
button:hover {background-color:aqua}

button:active {
  background-color: aqua;
  box-shadow: 0 5px aquamarine;
  transform: translateY(4px);
}
#equal{
    display: grid;
    grid-column: span 2;
    background-color: greenyellow;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    #calculator {
        grid-template-columns: repeat(4, minmax(40px, 1fr));
    }
    h1,P{
        display: flex;
        justify-content: center;
        padding: 2px;
        margin: 2px;
        font-size: small;
    }
    #result{
        padding: 10px;
        font-size: x-small;
        margin-bottom: 5px;
    }
    button{
        padding: 5px;
        font-size: x-small;
    }
}